html {
    overflow: scroll;
    background-color: #969DA0;
}

.hero.is-primary{
    background-color: #849EA5;
}

.text-icon{
    margin-top: 2%;
}

.column{
    padding-bottom: 0.5em;
}

#skills{
    overflow: hidden;
}