html {
    overflow: scroll;
}

.hero.is-primary{
    background-color: #7C3543;
}

.text-icon{
    margin-top: 2%;
}

.column{
    padding-bottom: 0.5em;
}

.footer{
    padding-bottom: 3em;
}

#skills{
    overflow: hidden;
}

.box {
    background-color: #8BC6B3;
}

.media-content, .card{
    border-radius: 8px;
}

.card{
    margin-bottom: 7px;
}

#contact{
    background: white;
    color: black;
    border-radius: 8px;
    padding: 4%;
}

#profile-img{
    border-radius: 0px 48px 0px 50px;
    padding-top: 3%;
}